body {
    background-color: rgb(241, 176, 176);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 150px;
    margin-left: 150px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 0, 0);
    border-bottom-style: solid;
    text-transform: uppercase;
}

p {

}

img {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    padding: 10px;
    width: 250px;
    opacity: 0.5;
}

a {
    color: red;

}
a:hover{
    color: blue;
}

